<li id="talk-<%= talk.id %>">
  <%= message = talk.latest_message %>
  <%= membership = talk.memberships.find_by(user: current_user) %>
  <%= gravatar_for(message.nil? ? talk.memberships.first.user : message.user, size: 50) %>
  <%= link_to 'Leave', membership_path(membership),
                       class: 'delete',
                       method: :delete,
                       data: { confirm: "You sure?" } %>
  <%= link_to(talk) do %>
    <span class="title"><%= talk.title(current_user, 50) %></span>
    <span class="content"><%= message.content unless message.nil? %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(talk.updated_at) %> ago.
    </span>
  <% end %>
</li>