<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="talk">
      <% if @user != current_user %>
        <% if current_user.already_message?(@user) %>
          <% talk_id = current_user.already_message?(@user).talk_id %>
          <%= link_to "Open DM Page", talk_path(talk_id), class: "btn btn-primary" %>
        <% else %>
          <%= render 'shared/start_message' %>
        <% end %>  
      <% end %>  
    </section>
    <section class="status">
      <%= render 'shared/status' %>
    </section>
    <section class="rss">
      <%= link_to "Micropost RSS", rss_micropost_user_path, class: "btn btn-primary", target: :_blank %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>

