<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="status">
      <%= render 'shared/status' %>
    </section>
    <section class="rss">
      <%= link_to "Open Feed On RSS", rss_feed_user_path(@user), class: "btn btn-success", target: :_blank %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
    <section class="search">
      <%= render 'shared/search_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#feed-tab" data-toggle="tab">Micropost Feed</a>
      </li>
      <li>
        <a href="#talks-tab" data-toggle="tab">Messages</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="feed-tab">
        <%= render 'shared/feed' %>
      </div>
      <div class="tab-pane" id="talks-tab">
        <%= render 'shared/talks' %>
      </div>
    </div>
  </div>
</div>